body{
	background-image: url(../image/bg.png);
	background-repeat: repeat;
	background-position: center;
}

* {
	box-sizing: border-box;
}
@font-face {  
   font-family: Wisdom Script AJ;  
   src: url("../font/Wisdom Script AJ.otf");
 }

#index{
	
}

#header{
	z-index: 999;
	position: fixed;
	height:72px;
	width: 1333px;
	background: #fff;
	float: center;
}

/*logo样式*/
#logo{
	padding-top: 21px;
	padding-bottom: 21px;
	margin:0 40px 0 40px;
    width: auto;
    height: 72px;
}
.logo{
	float: left;
}

/*导航栏样式*/
.nav ul{
	width: 500px;
	margin:0 auto;
	margin-right: 100px;
	height: 72px;
	padding: 0px;
	list-style-type: none;
	float: right;
}
.nav ul li{
	margin:10px 0 10px 0;
	float: left;
}
.nav ul li a{
	width: 80px;
	height: 44px;
	line-height: 44px;
	color: #8F8F8F;
	margin: 5px 10px;
	font-size: 20px;
	display: block;
	text-align: center;
	text-decoration: none;
}
.nav ul li a:hover{
	width: 80px;
	height: 44px;
	color: black;
	line-height: 44px;
}


/*首页欢迎文字*/
.welcome{
	width: 100%;
}
.w_text{
	text-align: center;
	text-indent: 40px;
	font: 35px Wisdom Script AJ, Arial, sans-serif;
	line-height: 35px;
	color: #fff;
    width: 600px;
    height: 200px;
    margin: auto;
    position: absolute;
    left: 28%; 
    top: 40%;
}

/*尾部小标签*/
.foot-list{
	background: #062131;
}
.foot-list ul{
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	float: left;
}
.foot-list ul li{
	margin-left: 25px;
	list-style: none;
	float: left;
	vertical-align: bottom;
}

/*尾部连接文字*/
.foot-lianxi{
	background: #062131;
}
.font-lianxi{
	text-align: right;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2b4250;
    margin: 10px 100px 0 0;
    float: right;
}

.foot-nav ul{
	width: 350px;
	height: auto;
	padding: 0;
	margin: 0 100px 0 0;
	float: right;
}
.foot-nav ul li{
	list-style: none;
	float: right;
	margin: 0 20px 0 0;
	font-size: 16px;
	color: #2b4250;
    line-height: 20px;
}


/*首页动态箭头*/
#arrow{
	width: 200px;
    height: 119px;
    margin: auto;
    position: absolute;
    left: 42%; 
    top: 85%;
}

/*第二页的内容展示页*/
#neirong{
	width: 1333px;
	height: 710px;
	position: absolute;
	top: 100%;
}
#neirong img{
	width: 100%;
	height: 100%;
}
.neirong{
	background: #fff;
}

/*末尾的友情链接*/
#foot{
	width: 1333px;
	height: 200px;
	padding-top: 80px;
	position: absolute;
	top: 200%;
}



