body{
	background-image: url(../image/bg.jpg);
	background-repeat: repeat;
	background-position: center;
}
body,html{
	height: 100%;
}
* {
	box-sizing: border-box;
}
input, button {
	border: none;
	outline: none;
}

form {
	position: relative;
	width: 250px;
	margin: 0 auto;
}



/*logo样式*/
#logo{
	margin:0 28px 0 28px;
    width: auto;
    height: 72px;
}
.logo{
	float: left;
}

/*导航栏样式*/
.nav ul{
	width: 500px;
	margin:0 auto;
	margin-left: 40px;
	height: 72px;
	padding: 0px;
	list-style-type: none;
	float: left;
}
.nav ul li{
	margin:10px 0 0 0;
	float: left;
}
.nav ul li a{
	width: 80px;
	height: 44px;
	line-height: 44px;
	background: #ccccff;
	color: black;
	margin: 5px 10px;
	font-size: 20px;
	display: block;
	text-align: center;
	text-decoration: none;
}
.nav ul li a:hover{
	width: 78px;
	height: 44px;
	line-height: 44px;
	border:1px solid #cccc99;
	color: #66cc99;
	background: #fff;
}

/*登录、注册按钮*/
.lr_area ul{
	width: 100xp;
	margin:0 auto;
	margin-right: 40px;
	height: 72px;
	padding: 0px;
	list-style-type: none;
	float: right;
}
.lr_area ul li{
	margin:20px 0 0 0;
	float: right;
}
.lr_area ul li a{
	width: 50px;
	height: 30px;
	line-height: 30px;
	background: #675a97;
	color: #fff;
	margin: 5px 5px;
	font-size: 15px;
	display: block;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
}
.lr_area ul li a:hover{
	width: 50px;
	height: 30px;
	line-height: 30px;
	border:1px solid #cccc55;
	color: #ff6666;
	background: #fff;
}

/*搜索框*/
#container {
	width: 250px;
	height: 42px;
	margin: 0 auto;
	margin-right: 80px;
	padding-top: 23px;
	padding-bottom: 50px;
	float:right;
}
.bar1 {
	margin:0 auto;
	margin-left: 40px;
	height: 72px;
	padding: 0px;
	list-style-type: none;
	float: left;
}
.bar1 input {
	border: 2px solid #7BA7AB;
	border-radius: 5px;
	background: #F9F0DA;
	color: #9E9C9C;
	width: 100%;
	height: 35px;
	padding-left: 15px;
}
.bar1 button {
	top: 0;
	right: 0;
	background: #7BA7AB;
	border-radius: 0 5px 5px 0;
	height: 35px;
	width: 35px;
	cursor: pointer;
	position: absolute;
}
.bar1 button:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 16px;
	color: #F9F0DA;
}

#index{
	
}

#header{
	height:72px;
	background: #fff;
}


