*{
	padding: 0;
	margin:0;
}
#header{
	height: 100px;
	background: url(../image/header.jpg);
}
body,html{
	height: 100%;
}
h1{
	display: block;
	height: 100px;
	margin-left: 150px;
	text-align: center;
	font-size: 50px;
	line-height: 100px;
	color: white;
	float: left;
}
.but{
	float: right;
	margin: 25px 200px 20px 100px;
}
.but button{
	width: 120px;
	height: 50px;
	background-color: red;
	font-size: 18px;
	border:1px solid blue;
	border-radius: 5px;
}
.but button:hover{
	color: white;	
	background-color: blue;
	border-color: white;
}
